/* GLOBAL ARTICLE STYLES */

body {

}

h1 {

}

p {
	font-family: "Libre Franklin", sans-serif;

}

h2{
	font-family: "EB Garamond", serif;
}

.caption{
	font-size: 10px;
	font-family: "Libre Franklin", sans-serif;
	margin-top: 5px;
}

.sideBar {
	font-size: 20px;
}

.callout{
	float:right;

}

.navStyle {
	background-color: #000;
	color: #fff;
	height: 50px;
	padding: 12px;
	text-align: center;
}
.navStyle a {
	color: #f4f4f4;
	text-decoration: none;
}
.navStyle a:hover {
	color: #009cff;
}
.navItem {
	margin: 0 25px 0 25px;
}
.bodyCopy {
	padding: 50px 0 0 0;
}
.footerStyle {
	background-color: #a8b0b7;
	color: #fff;
	padding: 12px;
	height: 50px;
	text-align: center;
	margin-top: 50px;
}
.rtt {
	text-align: center;
	margin-top: 50px;
}
.rtt a {
	color: #009cff;
	text-decoration: none;
	font-weight: bold;
}
.rtt a:hover {
	color: #09639c;

}

.leadImage{
	margin: 10px 20px 10px 20px;
}

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;

}

.chartRight {
	  align: center;
    margin-left: 20px;
    margin-bottom: 10px;
}



.eb-garamond-<uniquifier> {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.libre-franklin-<uniquifier> {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}