/* GLOBAL ARTICLE STYLES */

body {

}

h1 {

}

p {

}

.callout{
	width:400px; 
	padding:20px; 
	float:right; 
	background-color:#f4f4f4; 
	margin-top: 50px;
	margin-left: 50;
	float: right;

}

.navStyle {
	background-color: #000;
	color: #fff;
	height: 50px;
	padding: 12px;
	text-align: center;
}
.navStyle a {
	color: #f4f4f4;
	text-decoration: none;
}
.navStyle a:hover {
	color: #009cff;
}
.navItem {
	margin: 0 25px 0 25px;
}
.bodyCopy {
	padding: 50px 0 0 0;
}
.footerStyle {
	background-color: #009cff;
	color: #fff;
	padding: 12px;
	height: 50px;
	text-align: center;
	margin-top: 50px;
}
.rtt {
	text-align: center;
	margin-top: 50px;
}
.rtt a {
	color: #009cff;
	text-decoration: none;
	font-weight: bold;
}
.rtt a:hover {
	color: #09639c;

}

.leadImage{
	margin: 30px;
}

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;

}