body {
  background-color:#FFF7EB;
}
h1 {color: #ffffff; font-family: "Imperial Script", cursive; font-size: 100px}

h2 {color: #570007;  font-family: "Nunito", sans-serif;}

h3 {font-family: "Nunito", sans-serif;}

h4 {font-family: "Nunito", sans-serif; color: #b66765}

p {color: #e96745; font-family: "Nunito", sans-serif;}

.CaliGraph {background-color: #000000; color: #ffffff; font weight: bold; font-size: 1rem; padding: 20px}

.leadPhoto {margin: 20px;}

a {color: #AF8BE0; text-decoration: none}
a:hover {color: #54092A; text-decoration: underline;}

/* header styling yay! */

.headerBox {
  background-color: #DF8A92;
text-align: center;
padding: 0px;
}

.menuBox {
  background-color: #FFF7EB;
  padding: 0px;
text-align: center;
}

.textBox{
  background-color: #FFF7EB;
text-align: center;
}}

.videoBox{
  background-color: #FFF7EB;
text-align: center;
padding: 0px;
}

.imperial-script-regular {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
}


// <weight>: Use a value from 200 to 1000
// <uniquifier>: Use a unique and descriptive class name

.nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
