body {
  background-color:#ffffff;
}
h1 {color: #ff0000;}

h2 {color: #213172;}

p {color: #12cb8d;}

.CaliGraph {background-color: #000000; color: #ffffff; font weight: bold; font-size: 1rem; padding: 20px}

.leadPhoto {margin: 30px;}

a {color: #f70e0e; text-decoration: none}
a:hover {color: #666666; text-decoration: underline;}